#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-color: #d8d5d5;
}
.full-container {
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
}
.no-news {
  padding: 5px;
  border-radius: 10px;
box-shadow: 1px 1px 5px rgb(216, 215, 215);
}
.no-news p {
text-align: left;
margin-left: 1rem;
}
label {
  font-weight: bold;
}
form {
text-align: left;
margin: 1rem auto;
padding: 10px 20px;
width: 600px;
height: 50px;
border: none;
border-radius: 10px;
box-shadow: 1px 1px 5px rgb(216, 215, 215);
}
button {
  margin: 0 10px;
  background-color: #517AA1;
  color: white;
}
.card {
  width: 600px;
  text-align: left;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
border: none;
border-radius: 10px;
box-shadow: 1px 1px 5px lightgray;
}
.read-more {
  color: red;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
